legend {
    background-color: #0074d9;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

input[type=checkbox] {
    transform: scale(2);
    margin-bottom: .4rem
}
